body{
    background:linear-gradient(#bafc03 0%,#00fff7 100%);
}
img{
    height:50px; width:50;
}
.footer{
    position: fixed;
    bottom:0;
    width:100%;
}
#photo{
    width:320px;
    height:330px;
}